{% macro nav_bar() %}
  <nav class="navbar">
    {% for nav_link in config.extra.nav_links %}
      {% set link_url = nav_link.url | replace(from="$BASE_URL", to=config.base_url) %}
      <div 
        {% if current_url and current_url == link_url %}
          class="navbar__btn-active"
        {% else %}
          class="navbar__btn"
        {% endif %}
      >
        <a href="{{ link_url | safe}} ">
            {{nav_link.name}}
        </a>
    </div>
    {% endfor %}
  </nav>
{% endmacro nav_bar %}