{% import "macros/head.html" as head %}
{% import "macros/footer.html" as footer %}
{% import "macros/nav.html" as nav %}

<!DOCTYPE html>
<html>
<head>
  {{ head::head() }}
  <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) | safe }}">
</head>

<body>
  <div class="container">
    <header>
      <h1>{{ config.title }}</h1>
      <p>{{ config.description }}</p>
    </header>

    {{ nav::nav_bar() }}

    <article class="content">
        {% block content %}
        {% endblock content %}
    </article>
    {{ footer::footer() }}
  </div>
</body>

</html>